@model Requests
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Создать запрос</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="CompanyName">Компания</label>
            <input asp-for="CompanyName" class="form-control" />
            <span asp-validation-for="CompanyName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DisplayOrder">Количество месяцев</label>
            <input asp-for="DisplayOrder" class="form-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description">Описание</label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Создать</button>
        <a asp-controller="Requests" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Назад
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}